#nav-logo {
  display: flex;
}

#nav-logo img {
  max-height: 4rem;
  margin-right: 1rem;
}

#main-img {
  background-image: url('/assets/johndeere2.jpg');
  min-height: 30vh;
  background-size: cover;
  color: white;
}